h1, h2, h3, h4, h5, h6 {
	font-family: var( --durotan-heading-font );
	font-weight: 400;
	color: var(--durotan-color-darker);
}

h1 {
	@include font-size(60/16);
}

h2 {
	@include font-size(48/16);
}

h3 {
	@include font-size(36/16);
}

h4 {
	@include font-size(30/16);
}

h5 {
	@include font-size(24/16);
}

h6 {
	@include font-size(20/16);
}