:root {
	--durotan-color-darker: #000000;
	--durotan-color-dark: #222222;
	--durotan-color-light: #ffffff;
	--durotan-color-gray: #999999;
	--durotan-color-primary: #928656;
	--durotan-color-blue: #00ccff;

	--durotan-background-color-darker: #000000;
	--durotan-background-color-light: #ffffff;
	--durotan-background-color-gray: #999999;
	--durotan-background-color-primary: #928656;

	--durotan-text-input-color: #999999;
	--durotan-text-main-color: #666666;
	--durotan-text-input-focus-color: #010101;

	--durotan-link-color: #000000;

	--durotan-border-color-primary: #928656;
	--durotan-border-color-light: #ffffff;

	--durotan-border-input-color: #d8d8d8;
	--durotan-border-input-focus-color: #000000;
}
