.woocommerce-pagination{
	margin-top: 60px;

	ul.page-numbers {
		display: flex;
		list-style: none;
		justify-content: center;
		align-items: center;

		.page-numbers {
			display: inline-block;
			min-width: 40px;
			height: 40px;
			line-height: 40px;
			margin-right: 5px;
			text-align: center;
			border:1px solid #dfdfdf;
			color: #999999;
			font-size: 14px;

			&:hover,
			&.current{
				border-color: var(--durotan-background-color-primary);
				background-color: var(--durotan-background-color-primary);
				color: var(--durotan-color-light);

				.durotan-svg-icon{
					color: #fff;
				}
			}

			.durotan-svg-icon{
				font-size: 12px;
				color: #999999;
			}

			&.next,
			&.prev{
				padding: 0 15px;
				font-size: 14px;
				letter-spacing: 0.050em;
				text-transform: uppercase;

				.durotan-svg-icon{
					line-height: 1;
					position: relative;
					top: -1px;
				}
			}

			&.next {
				.durotan-svg-icon{
					margin-left: 9px;
				}
			}

			&.prev {
				.durotan-svg-icon{
					margin-right: 9px;
				}
			}
		}
	}
}
.ajax-infinite {
	a {
		display: none;
	}
}