.durotan-socials {
	margin-right: -12px;
	margin-left: -12px;
	.social {
		padding-right: 12px;
		padding-left: 12px;
		display: inline-block;
	}

	.durotan-svg-icon {
		font-size: 19.96px;
		color: #666666;
	}
}