.body-modals {
	overflow: hidden;
}
.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	z-index: 1100;
	overflow-y: scroll;
	overflow-x: hidden;
	&.open {
		visibility: visible;
		z-index: 2000;
	}
}

.modal__header {
	padding: 60px 0;

	.durotan-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.modal__label {
	font-size: 30px;
	color: var( --durotan-color-darker );
	font-family: var( --durotan-heading-font );
}

.modal__button-close {
	color: var( --durotan-color-darker );
	cursor: pointer;

	.durotan-svg-icon {
		font-size: 20px;
	}
}

.search-modal {
	background: #fff;

	.modal__header,
	.modal__content {
		width: 100%;
	}

	.modal__content {
		max-height: 100%;
		top: 35%;
		transition: top .8s;

		.durotan-container {
			height: 100%;
		}
	}
	.search-fields {
		position: relative;
		.search-reset {
			color: #a2a5a6;
			line-height: 1;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -6px;
			padding: 0;
			background: transparent;
			opacity: 0;
			transition: opacity 0.4s;
			z-index: 1;
			outline: none;
			border: none;
			.durotan-svg-icon {
				font-size: 16px;
			}
		}
		.spinner {
			position: absolute;
			right: 2px;
			top: 50%;
			margin-top: -5px;
			opacity: 0;
			transition: opacity 0.4s;
		}
	}
	.search-field {
		width: 100%;
		font-size: 36px;
		color: var( --durotan-color-darker );

		&:focus {
			border-bottom-color: var( --durotan-color-darker );
		}
	}

	.search-result {
		padding-top: 56px;
		position: relative;
		overflow: hidden;

		.ps__rail-x,
		.ps__rail-y {
			display: none;
		}
	}

	.search-result__label {
		color: var( --durotan-text-input-color );
		font-family: $font__main;
		font-size: 14px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin: 0 0 32px;
	}

	.search-result__items {
		height: calc(100% - 56px); // 56px is the height of label "Search Result".
		position: relative;
		overflow: hidden;
	}

	.item-not-found {
		text-align: center;
		width: 100%;
		.text {
			font-size: 18px;
			line-height: 22.5px;
			margin-bottom: 13px;
			color: var(--durotan-color-darker);
			display: block;
		}
	}

	.search-result__view-more {
		text-align: center;
		margin-bottom: 90px;
		a {
			text-transform: uppercase;
			font-size: 16px;
			line-height: 18px;
			letter-spacing: 0.025em;
			border: 1px solid #999;
			display: inline-block;
			padding: 16px 48px;
		}
	}

	&.searched {
		.modal__content {
			bottom: 0;
		}

		.search-result {
			height: calc(100% - 155px);  // 155px is the height of the search form.
		}
	}
	form {
		&.actived {
			.search-reset {
				opacity: 1;
			}
			.search-field {
				border-bottom-color: var(--durotan-color-darker);
			}
		}
		&.searching {
			.spinner {
				opacity: 1;
			}
			.search-field {
				border-bottom-color: var(--durotan-color-darker);
			}
		}
	}
}

.size-guide-modal {
	.modal-header {
		padding: 25px 45px 20px 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		background-color: var(--durotan-background-color-light);
		border-bottom: 1px solid #e5e5e5;
		text-align: center;
		.title{
			font-family: var(--durotan-font-main);
		}
	}
	.durotan-size-guide__name{
		font-family: var(--durotan-font-main);
	}
	.modal-content {
		position: relative;
		padding: 30px;
		background-color: var(--durotan-background-color-light);
	}

	.modal__backdrop {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		background-color: var(--durotan-background-color-darker);
		opacity: 0.5;
	}

	.modal__button-close {
		display: flex;
		line-height: 1;
		position: absolute;
		right: 30px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 24px;
		color: #a6a6a6;
		margin-left: 20px;

		&:hover {
			color: #767676;
		}
	}
}