.offscreen-panel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1600;
	display: none;
	--durotan-panel-spacing: 80px;
	margin-top: 0;
}

.admin-bar {
	.offscreen-panel {
		top: 32px;
	}
}

.offscreen-panel__backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: rgba(0,0,0,.4);
}

.offscreen-panel__button-close {
	cursor: pointer;
	position: absolute;
	right: var(--durotan-panel-spacing);
	top: 45px;
	color: var( --durotan-color-darker );

	.durotan-svg-icon {
		font-size: 20px;
	}

	.hamburger-box__two-line {
		width: 40px;
		height: 40px;
		.hamburger-inner {
			height: 0;
			&::before,
			&::after {
				height: 1px;
			}
			&::before {
				top: -6px;
			}
			&::after {
				bottom: -6px;
			}
		}
	}
}

.offscreen-panel__wrapper {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 645px;
	max-width: 100%;
	margin: 0;
	background: #fff;
	transition: transform .4s;
    display: flex;
    flex-direction: column;
	transform: translateX(100%);

	.offscreen-panel.open & {
		transform: none;
	}
}

.header-cart-side-right {
	.offscreen-panel__wrapper {
		left: 0;
		right: auto;
		transform: translateX(-100%);
	}
}

.offscreen-panel__header {
	padding: 40px var(--durotan-panel-spacing);

	label {
		font-size: 24px;
		color: var( --durotan-color-darker );
		display: block;
	}
}

.offscreen-panel__content {
	padding: 70px var(--durotan-panel-spacing) 0;
    flex: 1;
    overflow-y: auto;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
	&.cart-empty {
		padding-top: 0;
		.widget_shopping_cart_content {
			justify-content: center;
		}
	}
}

// Cart
.cart-panel {
	.offscreen-panel__header {
		padding-top: 0;
		padding-bottom: 0;

		label {
			padding-top: 40px;
			padding-bottom: 40px;
			border-bottom: 1px solid #dedede;
		}
	}

	.widget_shopping_cart_content {
		display: flex;
		flex-direction: column;
		height: 100%;

		.total,
		.buttons {
			width: 100%;
			margin: 0;
			padding-top: 20px;
		}

		.total {
			padding-top: 60px;
			font-size: 20px;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			strong {
				font-weight: 400;
			}

			.amount {
				color: var( --durotan-color-darker );
				font-size: 24px;
			}
		}

		.buttons {
			text-align: center;
			margin-bottom: 40px;

			a {
				display: block;
				font-size: 16px;
				text-transform: uppercase;
				color: var( --durotan-color-darker );
				line-height: 60px;
				border: 1px solid #999;
				margin-top: 15px;
				transition: 0.4s;

				&.checkout {
					color: #fff;
					background-color: var( --durotan-background-color-primary );
					border-color: var( --durotan-color-primary );
				}
			}
		}
	}

	ul.cart_list {
		margin: 0;
		padding: 0;
		padding-right: 1em;
		list-style: none;
		flex: 1;

		li {
			display: flex;
			margin-bottom: 28px;
		}

		img {
			float: left;
			margin-right: 20px;
		}
	}

	.woocommerce-mini-cart-item__summary {
		flex-grow: 1;

		.variation {
			font-size: 14px;
			color: var( --durotan-text-main-color );
			margin-bottom: 5px;
		}

		.amount {
			font-size: 16px;
		}
	}

	.woocommerce-mini-cart-item__data {
		margin-left: 80px;
		display: flex;
		flex-direction: column;
	}

	.woocommerce-mini-cart-item__name {
		font-size: 16px;
	}

	.woocommerce-mini-cart-item__qty {
		padding: 0 30px;
		flex: 0 0 140px;
		max-width: 140px;
		text-align: center;

		.quantity {
			border: 1px solid #d0d0d0;
			display: flex;
			justify-content: space-between;
			transition: .4s;

			.qty {
				width: 20px;
				font-size: 14.01px;
			}

			&:hover,
			&:focus {
				border-color: var( --durotan-color-darker );
			}
		}

		.qty-button {
			font-size: 10.01px;
			user-select: none;
			cursor: pointer;
			transition: .4s;
			line-height: 35px;
			padding: 0px 9px;
			color: var( --durotan-color-gray );
			&:hover {
				color: var( --durotan-color-darker );
			}
		}
	}

	.woocommerce-mini-cart-item__remove-button {
		flex: 0 0 50px;
		max-width: 50px;
		text-align: right;

		a {
			display: block;
			line-height: 1;
		}

		.durotan-svg-icon {
			font-size: 12px;
		}
	}

	.cart-behaviour-page {
		display: none;
	}
}

// Menu Panel
.menu-panel {
	.offscreen-panel__button-close {
		font-size: 16px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		top: 58px;
		left: var(--durotan-panel-spacing);
		right: auto;

		.durotan-svg-icon {
			font-size: 30px;
		}

		.menu-text {
			padding-left: 25px;
		}
	}

	.offscreen-panel__wrapper {
		width: 445px;
		right: auto;
		left: 0;
		transform: translateX(-100%);
		padding-top: 150px;
	}

	.offscreen-panel__content {
		padding: 0 var(--durotan-panel-spacing);
		display: flex;
		flex-direction: column;

		.language-currency-switcher {
			display: flex;
			border-bottom: 1px solid #dbdbdb;
			margin-bottom: 80px;

			.durotan-header-list--dropdown {
				padding-bottom: 18px;
				.current {
					color: var(--durotan-color-darker);
					padding-right: 28px;
					margin-right: 28px;
					border-right: 1px solid #dbdbdb;
				}
				&:last-child {
					.current {
						padding-right: 0;
						margin-left: 0;
						border-right: 0;
					}
				}

			}

			.durotan-header-list__dropdown {
				left: -15px;
				a {
					text-transform: uppercase;
				}
			}
		}

		.text-box {
			color: #000;
			font-size: 16px;
			margin-bottom: 45px;

			h4 {
				font-family: $font__main;
				font-size: 14px;
				color: #999999;
				margin: 0 0 15px;
				text-transform: uppercase;
			}
		}

		.main-navigation {
			height: auto;
			flex: 1;
			margin-bottom: 70px;
			position: static;

			ul {
				ul {
					top: 0;
					left: 100%;
					box-shadow: none;
					transform: translate(-20px, 0);
					height: 100%;
					visibility: hidden;
					padding: 150px 0 100px;

					&.dropdown-submenu {
						display: flex;
						flex-direction: column;
						justify-content: center;
					}

					&:before {
						content: '';
						width: 80px;
						height: 100%;
						top: 0;
						left: -80px;
						position: absolute;
					}

					ul {
						margin: 0;
						padding: 0;
						visibility: inherit;
						&:before {
							display: none;
						}
					}
				}
			}

			li {
				position: static;

				&:hover {
					> ul {
						pointer-events: initial;
					}
				}

				li {
					padding-bottom: 10px;
				}
			}

			ul.menu {
				display: block;
				height: auto;
				position: static;
				> li {
					padding: 5px 0;

					> a {
						font-size: 30px;
						text-transform: capitalize;
						color: var(--durotan-color-darker);
						&:hover {
							color: var(--durotan-color-primary);
						}
					}
					&.current-menu-item > a {
						color: var(--durotan-color-primary);
					}
				}
			}

			// Mega Menu
			.is-mega-menu {
				.dropdown-submenu {
					padding: 100px 30px;
					display: flex;
					align-items: center;
					display: block;

					&:after {
						content: '';
						width: 80px;
						height: 100%;
						top: 0;
						left: -80px;
						position: absolute;
					}

					ul {
						padding: 0;
						transform: translate(0,0);
					}

					a.is-label {
						color: var(--durotan-color-gray);
						font-size: 14px;
						text-transform: uppercase;
						margin-top: 72px;
						margin-bottom: 18px;
						display: block;
					}
				}
				&.align-left,
				&.align-center,
				&.align-center {
					.dropdown-submenu {
						left: 100%;
						right: auto;
						transform: translate(0,0);
					}
				}

				li {
					padding-bottom: 0;
				}

				.menu-item-mega {
					padding: 0 70px;
				}

				&.mega-fullwidth {
					> .dropdown-submenu {
						width: calc( 100vw - 445px );
					}
				}
			}
		}
	}

	.hamburger-box {
		.hamburger-inner {
			background-color: var( --durotan-color-darker );
		}
	}

	&.side-right {
		.offscreen-panel__button-close {
			right: var(--durotan-panel-spacing);
			left: auto;
			.menu-text {
				padding-left: 0;
				padding-right: 25px;
			}
		}
		.offscreen-panel__wrapper {
			left: auto;
			right: 0;
			transform: translateX(100%);
		}
		&.open {
			.offscreen-panel__wrapper {
				transform: translateX(0);
			}
		}
		.offscreen-panel__content {
			.main-navigation {
				ul {
					ul {
						right: 100%;
						left: auto;
						transform: translate( 66px, 0);
					}
				}
				.is-mega-menu {
					&.align-left,
					&.align-center,
					&.align-center {
						.dropdown-submenu {
							right: 100%;
							left: auto;
							transform: translate( 66px, 0);
						}
					}
					&.mega-fullwidth {
						> .dropdown-submenu {
							width: calc( 100vw - 399px );
						}
					}
				}
				li {
					&:hover {
						> ul {
							transform: translate( 46px, 0);
						}
					}
				}
			}
		}
	}
}

.durotan-socials__humburger-menu {
	display: flex;
	align-items: center;
	margin-bottom: 70px;

	a {
		background-color: transparent !important;
		color: #666666;
		margin-right: 22px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 50%;
		border: 1px solid #4d524b;
		text-align: center;

		.durotan-svg-icon {
			font-size: 18px;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			color: #fff;
			background-color: var( --durotan-background-color-primary ) !important;
			border-color: var( --durotan-color-primary );
		}
	}
}