@media (min-width: 1025px) {
	.durotan-swiper-carousel-elementor {
		&.navigation-dots,
		&.navigation-none {
			.durotan-swiper-button {
				display: none !important;
			}
			.swiper-scrollbar {
				display: none !important;
			}
		}

		&.navigation-arrows,
		&.navigation-none {
			.swiper-pagination {
				display: none !important;
			}
			.swiper-scrollbar {
				display: none !important;
			}
		}

		&.navigation-scrollbar,
		&.navigation-none {
			.durotan-swiper-button {
				display: none !important;
			}
			.swiper-pagination {
				display: none !important;
			}
        }

		&.navigation-dots-arrows,
		&.navigation-none {
			.swiper-scrollbar {
				display: none !important;
			}
        }
    }
}
@media (max-width: 1024px) {
	.elementor-widget-durotan-slides2 .durotan-slider-carousel #pp-nav {
		left: 0;
	}

	.durotan-banner {
		padding: 25px 20px;
	}

	.durotan-banner__heading {
		font-size: 40px;
		line-height: 40px;
	}

	.durotan-banner__description {
		margin-bottom: 40px;
	}

	.durotan-banner__content .button-text {
		padding: 0 29px;
		font-size: 16px;
		line-height: 50px;
	}

	.durotan-video-banner__video {
		height: 550px;
	}

	.durotan-video-banner__content {
		padding-top: 0;
	}

	.durotan-video-banner__text {
		font-size: 24px;
		line-height: 40px;
	}

	.durotan-video-banner__button--text {
		font-size: 16px;
	}

	.durotan-twitter-carousel__heading-arrow {
		display: block;
		margin-bottom: 30px;
	}

	.durotan-twitter-carousel__arrow {
		display: none;
	}

	.durotan-image-box__content {
		padding: 25px 20px;
	}

	.durotan-image-box__before-heading {
		margin-bottom: 15px;
	}

	.durotan-image-box__description {
		margin-bottom: 35px;
	}

	.durotan-image-box__heading {
		font-size: 36px;
		line-height: 40px;
	}

	.durotan-newsletter-2 {
		padding: 30px 30px;
		height: 299px;
	}

	.durotan-newsletter-2__heading {
		font-size: 38px;
		line-height: 48px;
	}

	.durotan-instagram-carousel__header {
		margin-bottom: 30px;
	}

	.durotan-instagram-carousel__heading {
		font-size: 38px;
	}

	.durotan-instagram-carousel .durotan-instagram-carousel__pagination {
		margin-top: 48px;
	}

	.durotan-twitter-carousel-2__text {
		font-size: 24px;
	}

	.durotan-icon-box-list{
		.icon-box{
			padding: 0 5px;
		}
		.durotan-icon{
			font-size: 36px;
			margin-right: 1rem;
		}
		.icon-box__title{
			font-size: 14px;
		}
	}
}

@media (max-width: 1023px) {
	.icon-box-horizontal {
		.durotan-icons-box {
			.icon-box {
				padding: 0 0 0 10px;
			}

			.durotan-icon {
				font-size: 36px;
				margin-right: 23px;
			}

			.icon-box__title {
				font-size: 16px;
				margin-bottom: 5px;
			}

			.icon-box__description {
				font-size: 14px;
				line-height: 18px;
			}
		}
	}
}

@media (max-width: 1024px) and (min-width: 768px) {
    .durotan-swiper-carousel-elementor {
		&.navigation-tablet-dots,
		&.navigation-tablet-none {
			.durotan-swiper-button {
				display: none !important;
			}
			.swiper-scrollbar {
				display: none !important;
			}
		}

		&.navigation-tablet-arrows,
		&.navigation-tablet-none {
			.swiper-pagination {
				display: none !important;
			}
			.swiper-scrollbar {
				display: none !important;
			}
		}

		&.navigation-tablet-scrollbar,
		&.navigation-tablet-none {
			.durotan-swiper-button {
				display: none !important;
			}
			.swiper-pagination {
				display: none !important;
			}
        }

		&.navigation-tablet-dots-arrows,
		&.navigation-tablet-none {
			.swiper-scrollbar {
				display: none !important;
			}
        }
	}

	.durotan-image-box-2__text {
		font-size: 18px;
	}
}

@media (max-width: 1024px) and (max-height: 1023px) and (min-height: 600px) {
	.durotan-slider-product .durotan-sliders__inner {
		margin-top: 70px;
	}
	.durotan-slider-product .button-product-text-container {
		text-align: left;
		.button-product-text {
			margin-left: 10%;
		}
	}
}

@media (max-width: 1440px) and (min-width: 1200px) and  (max-height: 1023px) and (min-height: 600px) {
    .durotan-slider-product .button-product-text-container {
		text-align: right;
		.button-product-text {
			margin-left: 0;
		}
	}
}